original-file.html
.DS_Store
vendor/
composer.phar
.Makefile.swp
*.o
vendor-native/ringtonetools/ringtonetools
vendor-native/bwrap-seccomp/genseccomp-imagemagick
vendor-native/bwrap-seccomp/genseccomp-ringtonetools
vendor-native/bwrap-seccomp/seccomp-imagemagick.bpf
vendor-native/bwrap-seccomp/seccomp-ringtonetools.bpf
vendor-native/libwbxml-libwbxml-0.11.8
test*
wap/
