{% extends "template.html" %}

{% block head %}
	{{ parent() }}
{% endblock %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" width="502">
	<tbody>
		<tr>
			<td align="left" valign="baseline" width="221">
				<table cellpadding="0" cellspacing="0" border="0" width="221">
					<tbody>
						<tr>
							<td height="17" class="headtop" width="5"><img src="./assets/trans.gif" width="5" height="1" border="0" alt=""></td>
							<td class="headtop" align="left">
								<a class="headlink">Details - {{ content.name }}</a>
							</td>
							<td height="17" width="9" style="background-image:url(./assets/ecke_head.gif); background-repeat:no-repeat;"></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="left" valign="top"><img src="./assets/trans.gif" width="9" height="17" border="0" alt=""></td>
		</tr>
	</tbody>
</table>

<table cellpadding="1" cellspacing="0" border="0" width="502" class="headtop">
	<tbody>
		<tr>
			<td align="center" valign="top">
				<table cellpadding="0" cellspacing="0" border="0" width="500" height="148" class="whiteline">
					<tbody>
						<tr>
							<td valign="top">

								<table cellpadding="3" cellspacing="0" border="0" width="500">
									<tbody>
										<tr>
											<td align="left" valign="top"><img src="./assets/trans.gif" width="205" height="1" border="0" alt=""></td>
											<td align="left" valign="top"><img src="./assets/trans.gif" width="25" height="1" border="0" alt=""></td>
											<td align="left" valign="top"><img src="./assets/trans.gif" width="30" height="1" border="0" alt=""></td>
										</tr>

										<tr>
											<table cellpadding="3" cellspacing="0" border="0" width="500">
												<tr>
													<td class="text">Titel:</td>
													<td>{{ content.name }}</td>
												</tr>
												{% if content.author != 2 %}
												<tr>
													<td class="text">Autor:</td>
													<td>{{ content.authorname }}</td>
												</tr>
												{% endif %}
												<tr>
													<td class="text">Dateiname:</td>
													<td>{{ file_basename }} ({{ file_size }} Bytes)</td>
												</tr>
												{% if content.type == "rtttl" or content.type == "polyphonic-ring" %}
												<tr>
													<td colspan="2">
														<midi-visualizer type="piano-roll" id="mainVisualizer" style="width: 490px;"></midi-visualizer>
														<script type="text/javascript">
															load_midi("/{{ type }}/preview/{{ '%05d'|format(content.id) }}");
														</script>
													</td>
												</tr>
												{% endif %}

												{% if content.type == "rtttl" %}
												<tr>
													<td colspan="2">
														RTTTL-Daten (Nokring):
														<textarea style="width: 490px; height: 100px;">{{ rtttldata }}</textarea>
													</td>
												</tr>
												{% endif %}

												{% if content.type == "operator-logo" or content.type == "bitmap" %}
												<tr>
													<td colspan="2">
														{% if content.type == "operator-logo" %}
														<img src="/{{ type }}/preview/{{ '%05d'|format(content.id) }}" height="84" class="img-nearest">
														{% endif %}

														{% if content.type == "bitmap" %}
														<img src="/{{ type }}/preview/{{ '%05d'|format(content.id) }}" height="208">
														{% endif %}

													</td>
												</tr>
												{% endif %}
											</table>
											<td align="left" valign="middle" class="text"></td>
											<td align="center" valign="middle"></td>
											<td align="left" valign="middle"></td>
										</tr>

										{{ include('pages/include-transfer-form.html') }}

										<tr>
											<td colspan="3"><img src="./assets/trans.gif" width="1" height="9" border="0" alt=""></td>
										</tr>
									</tbody>
								</table>

							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
