{% extends "template.html" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<p>
    <b>What is this?</b><br>
    A ringtone provider, similar to popular commercial providers from the early 2000s.
</p>
<p>
    <b>Is this real?</b><br>
    Yes! If you have a supported mobile phone (mostly Nokia at this point), you can send all the content available directly to your phone.
</p>
<p>
    <b>Where does this work?</b><br>
    Blåmba needs some mechanism to send raw binary data to participants. We can do this without creating any costs in the private GSM networks at hacker conferences (like CCC events or EMF).
</p>
<p>
    <b>Does this cost money?</b><br>
    No! 
    No sneaky subscriptions, either :)
</p>
<p>
    <b>Which phones are supported?</b><br>
    Nokia 6310i, Nokia 6220 and Nokia 6233 were used for development. <br>
    Many other Nokia phones will work fine as well. <br>
    Other vendors (Sony Ericsson, etc.) aren't implemented due to a lack of devices (and knowledge about them).
    If you have such a phone and know how to encode data for it, <a href="https://github.com/blamba-de/blamba/issues" target="_blank">please contact us!</a>
</p>
<p>
    <b>My phone needs a WAP/WSP gateway / IP address settings!</b><br>
    Blåmba operates a public WAP gateway, which can be used via GPRS from the phone. <br>
    It uses an IP / ASN-based allowlist to prevent abuse. Most german phone providers and the CCC event network are allowed.<br>

    The IPv4 address is: <code>157.90.145.189</code> (no username/password).<br>
    If you're using a different carrier/provider, please <a href="https://github.com/blamba-de/blamba/issues" target="_blank">write us a message</a> with your public IPv4 address or the ASN of your carrier.
</p>

<p>
    <b>How does this work?</b><br>
    Operator logos und RTTTL ringtones will be <a href="https://en.wikipedia.org/wiki/User_Data_Header" target="_blank">sent via SMS</a>.<br>
    MIDI files, J2ME applications and games will be sent via <a href="https://en.wikipedia.org/wiki/Wireless_Application_Protocol#WAP_Push" target="_blank">WAP-Push</a> (basically a special link via SMS).<br>
    If you're interested in the nitty-gritty details, the source code is linked in the menu.
</p>
<p>
    <b>I have a cool logo/ringtone/game/application.</b><br>
    Awesome! Please send a pull request to the <a href="https://github.com/blamba-de/blamba-content-ingest" target="_blank">blamba-content-ingest repository</a>.
</p>
<p>
    <b>I found a security vulnurability.</b><br>
    Please send an e-mail to <a href="mailto:blamba@tbspace.de" target="_blank">blamba@tbspace.de</a>.
</p>

<p>
    <b>My phone doesn't support WAP push (e.g. iPhone). What can I do?</b><br>
    Prefix the catalog number with "plain" ("plain 12345").<br>
    Blåmba! will then send a regular text SMS with an HTTP-URL.
</p>

<p id="operatorlogos">
    <b>What are operator logos? What are group logos?</b><br>
    Operator logos are little logos, which are assigned to a specific mobile network. <br>
    When a phone connects to a specific network, it will display the logo for this carrier on the home screen.<br>
    The carrier/network will be detected using the globally unique <a href="https://en.wikipedia.org/wiki/Mobile_network_codes_in_ITU_region_2xx_(Europe)#Germany_%E2%80%93_DE" target="_blank">MCC/MNC IDs</a>. <br>
    The CCC Event network usually uses 262/42. Deutsche Telekom uses 262/01.
    <br><br>
    Group logos use the same graphics format and encoding, but can be assigned to contacts and contact groups.
    They will then be displayed when such a contact or contact group calls. 
</p>
<p>
    &nbsp;
</p>
{% endblock %}
