<tr>
	{% if devices|length == 0 %}
		<td>
			<a href="/">No device registered yet!</a>!<br>
			Send a SMS with text "REGISTER {{ '%06d'|format(registration_token) }}" to {{ config.smpp_sender_msn }}!
		</td>
	{% else %}
		<td class="text"><label for="msn">send to:</label></td>
		<td align="left">
			<select name="msn" id="msn">
				{% for device in devices %}
					<option value="{{ device.id }}">{{ device.msn }}{% if device.type != null %} ({{ device.type }}){% endif %}</option>
				{% endfor %}
			</select>
			<input type="hidden" value="{{ '%05d'|format(content.id) }}" name="contentid">
			<input type="submit" value="Send">
		</td>
	{% endif %}
</tr>