{% extends "template.html" %}

{% block head %}
	{{ parent() }}
{% endblock %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" width="502">
	<tbody>
		<tr>
			<td align="left" valign="baseline" width="221">
				<table cellpadding="0" cellspacing="0" border="0" width="221">
					<tbody>
						<tr>
							<td height="17" class="headtop" width="5"><img src="./assets/trans.gif" width="5" height="1" border="0" alt=""></td>
							<td class="headtop" align="left">
								<a class="headlink">Phonebook</a>
							</td>
							<td height="17" width="9" style="background-image:url(./assets/ecke_head.gif); background-repeat:no-repeat;"></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="left" valign="top"><img src="./assets/trans.gif" width="9" height="17" border="0" alt=""></td>
		</tr>
	</tbody>
</table>

<table cellpadding="1" cellspacing="0" border="0" width="502" class="headtop">
	<tbody>
		<tr>
			<td align="center" valign="top">
				<table cellpadding="0" cellspacing="0" border="0" width="500" height="148" class="whiteline">
					<tbody>
						<tr>
							<td valign="top">
								<form method="POST" action="/phonebook">
								<table cellpadding="3" cellspacing="0" border="0" width="500">
									<tbody>
										<tr>
											<td align="left" valign="top"><img src="./assets/trans.gif" width="100px" height="1" border="0" alt=""></td>
											<td align="left" valign="top"><img src="./assets/trans.gif" height="1" border="0" alt=""></td>
											<td align="left" valign="top"><img src="./assets/trans.gif" height="1" border="0" alt=""></td>
										</tr>
										<tr>
											<td class="text" colspan="3">
												Blamba! offers a WAP UI for the <a href="https://guru3.eventphone.de/event.php/phonebook" target="_blank">Eventphone GURU3 phonebook</a>:<br><br>
												<img src="/assets/phonebook.jpg" width="300px" alt="Photo of Nokia 6310i, showing the WAP phonebook">
												<br><br>
												Open <a href="http://wap.blamba.de/ep/" target="_blank">http://wap.blamba.de/ep/</a> via WAP on your phone to search for contacts.
											</td>
										</tr>
										<tr>
											<td class="text" style="color: #00c100;" colspan="3">
												<b>{{ success | nl2br }}</b>
											</td>
										</tr>
										{% if data != "" %}
										<tr>
											<td class="text" colspan=3>
												Raw data: <br>
												{{ include('pages/include-sms-pdu-decode.html') }}
											</td>
										</tr>
										{% endif %}

										<tr>
											<td class="text" colspan=3>
												<hr>
												Send a bookmark for the phonebook to your device:
											</td>
										</tr>

										<tr>
											<table cellpadding="3" cellspacing="0" border="0" width="500">
												{{ include('pages/include-phone-select.html') }}
											</table>
											<td align="left" valign="middle" class="text"></td>
											<td align="center" valign="middle"></td>
											<td align="left" valign="middle"></td>
										</tr>

										<tr>
											<td colspan="3"><img src="./assets/trans.gif" width="1" height="9" border="0" alt=""></td>
										</tr>
									</tbody>
								</table>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	$(".js-eventbox").on('change', function(e) {
	    var events = document.getElementsByClassName("js-eventbox");
		var count = 0;
		for (var i = 0; i < events.length; ++i)
		{
			if (events[i].checked)
			{
				count++;
			}
		}

		if (count > 5)
		{
			alert("You selected more than 5 entries. \nCalender entries will be sent via SMS. \nTo prevent a denial of service of both the network and your phone, the maximum number of entries is limited.");
			$(event.target).prop( "checked", false );
			return false;
		}
	});
</script>
{% endblock %}
