{% extends "template.html" %}

{% block head %}
	{{ parent() }}
{% endblock %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" width="502">
	<tbody>
		<tr>
			<td align="left" valign="baseline" width="221">
				<table cellpadding="0" cellspacing="0" border="0" width="221">
					<tbody>
						<tr>
							<td height="17" class="headtop" width="5"><img src="./assets/trans.gif" width="5" height="1" border="0" alt=""></td>
							<td class="headtop" align="left">
								<a class="headlink">Transmission - {{ content.name }}</a>
							</td>
							<td height="17" width="9" style="background-image:url(./assets/ecke_head.gif); background-repeat:no-repeat;"></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="left" valign="top"><img src="./assets/trans.gif" width="9" height="17" border="0" alt=""></td>
		</tr>
	</tbody>
</table>

<table cellpadding="1" cellspacing="0" border="0" width="502" class="headtop">
	<tbody>
		<tr>
			<td align="center" valign="top">
				<table cellpadding="0" cellspacing="0" border="0" width="500" height="148" class="whiteline">
					<tbody>
						<tr>
							<td valign="top">

								<table cellpadding="3" cellspacing="0" border="0" width="593">
									<tbody>
										<tr>
											<td align="left" valign="top"><img src="./assets/trans.gif" width="205" height="1" border="0" alt=""></td>
											<td align="left" valign="top"><img src="./assets/trans.gif" width="25" height="1" border="0" alt=""></td>
											<td align="left" valign="top"><img src="./assets/trans.gif" width="30" height="1" border="0" alt=""></td>
										</tr>

										<tr>
											<table cellpadding="3" cellspacing="0" border="0" width="593">
												
												<tr>
													<td colspan="3">
														Content will be transmitted!<br><br>

														Technical details: <br>
														{{ smscount }} SMS message(s), {{ smsbytes }} bytes<br><br>

														{{ include('pages/include-sms-pdu-decode.html') }}

														<button onclick="history.back()">back to content</button>
														<button onclick="document.location = '/{{ content.type }}/'">back to overview</button>
													</td>
												</tr>
											</table>
											<td align="left" valign="middle" class="text"></td>
											<td align="center" valign="middle"></td>
											<td align="left" valign="middle"></td>
										</tr>
										<tr>
											<td colspan="3"><img src="./assets/trans.gif" width="1" height="9" border="0" alt=""></td>
										</tr>
									</tbody>
								</table>

							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
