<table cellpadding="0" cellspacing="0" border="0" width="164">
	<tbody>
		<tr>
			<td align="left" valign="top"><a href="/"><img src="./assets/logo.png" width="152" border="0" alt=""></a></td>
		</tr>
		<tr>
			<td align="left" valign="top">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td align="left" valign="top" width="1"><img src="./assets/trans.gif" width="1" height="1" border="0" alt=""></td>
							<td align="left" valign="top">
								
							</td>
							<td align="left" valign="top" width="1"><img src="./assets/trans.gif" width="1" height="1" border="0" alt=""></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="164">
					<tbody>
						<tr>
							<td><a href="/"><img src="./assets/nav_home_top.gif" border="0" alt=""></a></td>
						</tr>
						<tr>
							<td height="1" class="bluegreybg"><img src="./assets/trans.gif" width="1" height="1" border="0" alt=""></td>
						</tr>
						<tr>
							<td class="redbg" height="20">
								<a href="/" class="headlink">
									<div class="pad_le_15">KLINGELTÖNE</div>
								</a>
							</td>
						</tr>
						<tr>
							<td valign="top" class="menu">
								<div class="bgHellBlau">
									<div class="navBorderBottom"></div>
									<div class="navigation">
										<a class="navLink" href="/rtttl/">
											<div class="pad_le_15">Monophon (RTTTL)</div>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td valign="top" class="menu">
								<div class="bgHellBlau">
									<div class="navBorderBottom"></div>
									<div class="navigation">
										<a class="navLink" href="/polyphonic-ring/">
											<div class="pad_le_15">Polyphon (MIDI)</div>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="bgHellBlau">
									<div class="navispace"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="redbg" height="20">
								<a href="/" class="headlink">
									<div class="pad_le_15">LOGOS</div>
								</a>
							</td>
						</tr>
						<tr>
							<td valign="top" class="menu">
								<div class="bgHellBlau">
									<div class="navBorderBottom"></div>
									<div class="navigation">
										<a class="navLink" href="/operator-logo/">
											<div class="pad_le_15">Betreiberlogos</div>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td valign="top" class="menu">
								<div class="bgHellBlau">
									<div class="navBorderBottom"></div>
									<div class="navigation">
										<a class="navLink" href="/bitmap/">
											<div class="pad_le_15">Farbige Logos</div>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="bgHellBlau">
									<div class="navispace"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="redbg" height="20">
								<a href="/" class="headlink">
									<div class="pad_le_15">J2ME</div>
								</a>
							</td>
						</tr>
						<tr>
							<td valign="top" class="menu">
								<div class="bgHellBlau">
									<div class="navBorderBottom"></div>
									<div class="navigation">
										<a class="navLink" href="/j2me/">
											<div class="pad_le_15">Spiele</div>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td valign="top" class="menu">
								<div class="bgHellBlau">
									<div class="navBorderBottom"></div>
									<div class="navigation">
										<a class="navLink" href="/j2me/">
											<div class="pad_le_15">Anwendungen</div>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="bgHellBlau">
									<div class="navispace"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="bgHellBlau">
									<div class="navispace"></div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" width="164">
					<tbody>
						<tr>
							<td class="bgdarkblue">
								<a class="headlink" href="/">
									<div class="pad_le_15">SERVICE</div>
								</a>
							</td>
						</tr>
						<tr>
							<td height="1" class="bluegreybg"><img src="./assets/trans.gif" width="1" height="1" border="0" alt=""></td>
						</tr>
						<tr>
							<td valign="middle" height="19">
								<div class="pad_le_15"><a href="https://github.com/blamba-de/blamba" target="_blank" class="bluenavlink">Sourcecode</a></div>
							</td>
						</tr>
						<tr>
							<td height="1" class="bluegreybg"><img src="./assets/trans.gif" width="1" height="1" border="0" alt=""></td>
						</tr>
						<tr>
							<td valign="middle" height="19">
								<div class="pad_le_15"><a href="https://github.com/blamba-de/blamba-content-ingest" target="_blank" class="bluenavlink">Medienrepository</a></div>
							</td>
						</tr>
						<tr>
							<td height="1" class="bluegreybg"><img src="./assets/trans.gif" width="1" height="1" border="0" alt=""></td>
						</tr>
						<tr>
							<td valign="middle" height="19">
								<div class="pad_le_15"><a href="/?page=faq" class="bluenavlink">FAQ</a></div>
							</td>
						</tr>
						<tr>
							<td height="1" class="bluegreybg"><img src="./assets/trans.gif" width="1" height="1" border="0" alt=""></td>
						</tr>
						<tr>
							<td height="20"><img src="./assets/trans.gif" width="1" height="20" border="0" alt=""></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>