<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		{{ include('header.html') }}
	</head>
	<body>
		<div align="center">
			<table cellpadding="0" cellspacing="0" border="0" width="770">
				<tbody>
					<tr>
						<td align="left" valign="top" width="164" class="bgHellBlau">
							{{ include('menu.html') }}
						</td>
						<td><img src="./assets/trans.gif" width="12" height="1" border="0" alt=""></td>
						<td align="left" valign="top" width="594">
							<table cellpadding="0" cellspacing="0" border="0" width="594">
								<tbody>
									<tr>
										<td>
											<table cellpadding="0" cellspacing="0" border="0" width="500">
												<tbody>
													<tr>
														<td valign="middle" class="headtext">
															Ringtones, Logos, J2ME games!<br>
															<midi-player src="" visualizer="#mainVisualizer" id="midiplayer" style="display: none;"></midi-player>
															<!--<midi-visualizer type="piano-roll" id="mainVisualizer"></midi-visualizer>-->
														</td>
														<td valign="bottom" class="headtext">
															<img src="./assets/blahaj-large.png" height="100" align="right">
														</td>
													</tr>
												</tbody>
											</table>

<!--											<table cellpadding="0" cellspacing="0" border="0" width="600" style="background-color: #5bcefa;border-color: #f5a9b8;border-width: 2px;border-style: solid; color: white;  margin: 2px;  padding: 5px; ">
												<tbody>
													<tr>
														<td valign="middle">
															Welcome to Blåmba! <br><br>
															Please stay tuned for the next event.
														</td>
													</tr>
												</tbody>
											</table>-->

										</td>
									</tr>
								</tbody>
							</table>
							{% block content %}{% endblock %}
						</td>
					</tr>
				</tbody>
			</table>
			{{ include('footerads.html') }}
			<table cellpadding="0" cellspacing="0" border="0" width="770">
				<tbody>
					<tr>
						<td>
							<span class="text_small"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
